#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


h1 {
  color: #f39c12;
}

.navbar {
  width: 100vw;              
  background-color: #222;     
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: fixed;           
  top: 0;
  left: 0;
  z-index: 1000;              
  box-sizing: border-box;
}

.logo a {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;                 
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #f39c12;
}

.cart-widget {
  font-size: 2rem;           
  cursor: pointer;
}

